<div xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/products/list}">Home</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign out</a></li>
        <li><a href="#">Your orders</a></li>
        <li><a href="#">Administration</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcom you</a></li>
      </ul>
    </div>
  </nav>
</div>