<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
    <main>
        <div th:if="${prostatus}">
            <h1>SẢN PHẨM SẮP VỀ</h1>
        </div>
        <div th:each="pro : ${items}" class="col-sm-4">
            <div class="panel panel-primary poly-item text-center">
                <div class="panel-heading">
                    <div class="panel-title" th:utext="${pro.name}"></div>
                </div>
                <div class="panel-body">
                    <a th:href="@{|/products/detail/${pro.productId}|}">
                        <img th:src="@{|/images/${pro.image}|}" alt="@@" style="width: 200px; height:200px ;">
                    </a>
                </div>
                <div class="panel-footer text-right">
                    <b class="pull-left">$[[${pro.price}]]</b>
                    <b class="pull-center" style="color: coral;">[[${pro.available}]]</b>
                    <button class="btn btn-success" th:attr="ng-click=@{|cart.add(${pro.productId})|}">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="row text-center">
            <a th:href="@{/products/list/page/${page -1}}" class="btn btn-warning" style="margin-bottom: 5px;">Previous</a>
            <label style="width: 35px;border: 1px solid #2d2b2c; height: 100%;;" th:utext="${page}+1"></label>
            <a th:href="@{/products/list/page/${page + 1}}" class="btn btn-primary" style="margin-bottom: 5px;">Next</a>
        </div> -->
        <div class="card-footer text-center">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <!-- <a class="page-link" href="#" aria-label="Previous"> -->
                    <a th:href="@{'/products/list/page/'+${page -1}}" aria-hidden="true">&laquo;</a>
                    <!-- <a class="sr-only">Previous</span> -->
                  <!-- </a> -->
                </li>
                <li class="page-item active"><a class="page-link" href="#" th:utext="${page}+1"></a></li>
                <li class="page-item">
                  <!-- <a class="page-link" href="#" aria-label="Next"> -->
                    <a th:href="@{'/products/list/page/'+${page+1}}" aria-hidden="true">&raquo;</a>
                    <!-- <span class="sr-only">Next</span> -->
                  <!-- </a> -->
                </li>
              </ul>
            </nav>
        </div>
    </main>
</body>
</html>


